.profileImage {
  border-radius: 0.2rem;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.typewriter-container {
  display: inline-block;
  min-width: 300px;
}

.typewriter h2 {
  display: inline;
}

.typewriter .cursor {
  display: inline-block;
  width: 10px;
  background-color: black;
  animation: blink 1s infinite;
  margin-left: 2px;
}

@media (min-width: 768px) {
  .profileImage {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
  }
}

.education-section {
  padding: 2rem 0;
}

.education-section h1 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 1.5rem;
  font-weight: bold;
}

.education-section .card {
  background: linear-gradient(145deg, #e6e8eb, #ffffff);
  border: none;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.3s ease;
  margin-bottom: 1.5rem;
}

.education-section .card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.education-section .card-title {
  font-size: 1.5rem;
  color: #007bff;
  font-weight: bold;
}
.education-section .card h6 {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 0.5rem;
}

.education-section .icon {
  font-size: 2rem;
  margin-right: 1rem;
  color: #007bff;
}

.education-section .card-header {
  display: flex;
  align-items: center;
}

.btns{
  border-radius: 0%;
}
.btns:hover {
  background-color: rgb(0, 172, 193);
  border-radius: 0%;
  color: rgb(217, 215, 215);
  box-shadow: 0 0 0.5 rgb(0, 172, 193), 0 0 0.25 rgb(0, 172, 193), 0 0 0.5 rgb(0, 172, 193),
    0 0 0.2 rgb(0, 172, 193);
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}
